{% extends "basics.html" %}
{% load static %}
{% block body %}

<section class="project_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        <b style="color: #f07b26;">ECHO</b> <b>JOURNAL</b>
      </h2>
    </div>
    
    <div class="carousel-wrap">
      <div class="filter_box">
        <h6>Category filter</h6>
        <nav class="owl-filter-bar">
          <a href="#" class="item active" data-owl-filter="*">All</a>
          {% for category in categories %}
            <a href="#" class="item" data-owl-filter=".{{ category.slug }}">{{ category.name }}</a>
          {% endfor %}
        </nav>
      </div>

      <div class="owl-carousel project_carousel">
        {% for blog in blogs %}
        <div class="item {{ blog.category.slug }}">
          <div class="box">
            <div class="img-box">
              {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
              {% else %}
                <img src="{% static 'images/default-blog.jpg' %}" alt="{{ blog.title }}">
              {% endif %}
              <a href="{% url 'blogs:detail' blog.slug %}" class="pin_link">
                <i class="fa fa-link" aria-hidden="true"></i>
              </a>
            </div>
            <div class="detail-box">
              <h5>{{ blog.title }}</h5>
              <p>{{ blog.excerpt|truncatewords:25 }}</p>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No blogs available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock body %}
